<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.cdt.launch.applicationLaunchType">
    <booleanAttribute key="de.toem.impulse.launchactivateLaunch" value="false"/>
    <booleanAttribute key="de.toem.impulse.launchactivateTermination" value="false"/>
    <intAttribute key="de.toem.impulse.launchdelayLaunch" value="0"/>
    <intAttribute key="de.toem.impulse.launchlaunch" value="2"/>
    <intAttribute key="de.toem.impulse.launchmode" value="3"/>
    <stringAttribute key="de.toem.impulse.launchport" value=""/>
    <booleanAttribute key="de.toem.impulse.launchrestart" value="true"/>
    <intAttribute key="de.toem.impulse.launchterminate" value="1"/>
    <intAttribute key="org.eclipse.cdt.launch.ATTR_BUILD_BEFORE_LAUNCH_ATTR" value="2"/>
    <stringAttribute key="org.eclipse.cdt.launch.COREFILE_PATH" value=""/>
    <stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="Debug\Simulation2.exe"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="Simulation2"/>
    <booleanAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_AUTO_ATTR" value="true"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value="cdt.managedbuild.config.gnu.mingw.exe.debug.2078327002"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Simulation2"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.dsf.launch.MEMORY_BLOCKS" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&lt;memoryBlockExpressionList context=&quot;reserved-for-future-use&quot;/&gt;"/>
    <stringAttribute key="process_factory_id" value="org.eclipse.cdt.dsf.gdb.GdbProcessFactory"/>
</launchConfiguration>
